In [1]:
import pandas as pd

In [33]:
import os
lst = os.listdir('./new_mouse_data')

lst_data = []
for file in lst:
    lst_data.append(pd.read_csv('./new_mouse_data/' + file))

df = pd.concat(lst_data, ignore_index=True)

In [38]:
import os
lst = os.listdir('./new_mouse_data_sep')

lst_data = []
for file in lst:
    lst_data.append(pd.read_csv('./new_mouse_data_sep/' + file))

df_sep = pd.concat(lst_data, ignore_index=True)

In [35]:
df[df['Marker'] == 'start']

                              Date     X     Y             T Marker  Condition
0       2023-11-23 00:14:36.500801   358   450  0.000000e+00  start          0
65      2023-11-23 00:14:40.362410   600  1079  3.860620e+03  start          0
181     2023-11-23 00:14:42.644553  1663    18  6.143752e+03  start          0
236     2023-11-23 00:14:43.792651   801   123  7.291850e+03  start          0
266     2023-11-23 00:14:49.036273   859   438  1.253547e+04  start          0
...                            ...   ...   ...           ...    ...        ...
104065  2023-11-18 23:50:02.473154   127   475  2.066856e+06  start          0
104247  2023-11-18 23:50:20.710074  1120   598  2.085092e+06  start          0
104278  2023-11-18 23:50:26.489403  1429   482  2.090872e+06  start          0
104395  2023-11-18 23:50:52.745746  1699   435  2.117129e+06  start          0
104494  2023-11-18 23:51:15.713394   825  1050  2.140096e+06  start          0

[1613 rows x 6 columns]

In [39]:
df_sep[df_sep['Marker'] == 'start']

                              Date     X     Y             T Marker  Condition
0       2023-11-23 00:14:36.500801   358   450  0.000000e+00  start          0
65      2023-11-23 00:14:40.362410   600  1079  3.860620e+03  start          0
181     2023-11-23 00:14:42.644553  1663    18  6.143752e+03  start          0
236     2023-11-23 00:14:43.792651   801   123  7.291850e+03  start          0
266     2023-11-23 00:14:49.036273   859   438  1.253547e+04  start          0
...                            ...   ...   ...           ...    ...        ...
104180  2023-11-18 23:50:26.489403  1429   482  2.090872e+06  start          0
104257  2023-11-18 23:50:52.041668  1334   661  2.116425e+06  start          0
104295  2023-11-18 23:50:52.745746  1699   435  2.117129e+06  start          0
104333  2023-11-18 23:51:14.677556  1215   640  2.139061e+06  start          0
104392  2023-11-18 23:51:15.713394   825  1050  2.140096e+06  start          0

[2022 rows x 6 columns]

In [37]:
df.shape

(104558, 6)